<h1>Voir les details du poids</h1>

<p>
  <strong>Date:</strong>
  <%= @weight_entry.date %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @weight_entry.weight %>
</p>

<p>
<strong>Nombre de pas:</strong>
 <%= @weight_entry.nbre_pas %>
</p>



<%= link_to 'Retour', weight_entries_path %>   